@use "mixins/hover";
@use "mixins/window";

.powermenu {
    @include window.window;
}

.powermenu-button {
    @include hover.hover(#1a1112Container);
    transition: 0.3s;
    border-radius: 10rem;
    min-width: 8rem;
    min-height: 8rem;

    &:focus {
        @include hover.hover($primary);
        color: #1a1112;
    }
}

.powermenu-button-label {
    margin-top: 0.5rem;
}

.powermenu-button-box {
    margin: 0.5rem;
}

.powermenu-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
