@define-color accent_color #a3c9fe;
@define-color accent_bg_color #a3c9fe;
@define-color accent_fg_color #111418;
@define-color destructive_color #93000a;
@define-color destructive_bg_color #93000a;
@define-color destructive_fg_color #e1e2e8;
@define-color success_color #d8bde3;
@define-color success_bg_color #d8bde3;
@define-color success_fg_color #e1e2e8;
@define-color warning_color #bbc7db;
@define-color warning_bg_color #bbc7db;
@define-color warning_fg_color #e1e2e8;
@define-color error_color #93000a;
@define-color error_bg_color #93000a;
@define-color error_fg_color #e1e2e8;
@define-color window_bg_color #111418;
@define-color window_fg_color #e1e2e8;
@define-color view_bg_color #111418;
@define-color view_fg_color #e1e2e8;
@define-color headerbar_bg_color #111418;
@define-color headerbar_fg_color #e1e2e8;
@define-color headerbar_border_color #8d9199;
@define-color headerbar_backdrop_color #111418;
@define-color headerbar_shade_color #8d9199;
@define-color sidebar_bg_color #1d2024;
@define-color sidebar_fg_color #e1e2e8;
@define-color sidebar_backdrop_color #1d2024;
@define-color card_bg_color #1d2024;
@define-color card_fg_color #e1e2e8;
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color thumbnail_bg_color #111418;
@define-color thumbnail_fg_color #e1e2e8;
@define-color dialog_bg_color #111418;
@define-color dialog_fg_color #e1e2e8;
@define-color popover_bg_color #1d2024;
@define-color popover_fg_color #e1e2e8;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color #8d9199;

.navigation-sidebar {
    background-color: #1d2024;
}

switch:checked {
    background-color: #a3c9fe;
}

switch:checked slider {
    background-color: #00315b;
}