$primary_paletteKeyColor: #5379a9;
$secondary_paletteKeyColor: #6c788a;
$tertiary_paletteKeyColor: #866f91;
$neutral_paletteKeyColor: #75777d;
$neutral_variant_paletteKeyColor: #73777f;
$background: #111418;
$onBackground: #e1e2e8;
$surface: #111418;
$surfaceDim: #111418;
$surfaceBright: #37393e;
$surfaceContainerLowest: #0b0e13;
$surfaceContainerLow: #191c20;
$surfaceContainer: #1d2024;
$surfaceContainerHigh: #272a2f;
$surfaceContainerHighest: #32353a;
$onSurface: #e1e2e8;
$surfaceVariant: #43474e;
$onSurfaceVariant: #c3c6cf;
$inverseSurface: #e1e2e8;
$inverseOnSurface: #2e3035;
$outline: #8d9199;
$outlineVariant: #43474e;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #a3c9fe;
$primary: #a3c9fe;
$onPrimary: #00315b;
$primaryContainer: #1d4875;
$onPrimaryContainer: #d3e4ff;
$inversePrimary: #39608f;
$secondary: #bbc7db;
$onSecondary: #263141;
$secondaryContainer: #3e4a5a;
$onSecondaryContainer: #d9e5f9;
$tertiary: #d8bde3;
$onTertiary: #3c2947;
$tertiaryContainer: #a088ac;
$onTertiaryContainer: #000000;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$primaryFixed: #d3e4ff;
$primaryFixedDim: #a3c9fe;
$onPrimaryFixed: #001c38;
$onPrimaryFixedVariant: #1d4875;
$secondaryFixed: #d7e3f8;
$secondaryFixedDim: #bbc7db;
$onSecondaryFixed: #101c2b;
$onSecondaryFixedVariant: #3c4858;
$tertiaryFixed: #f4d9ff;
$tertiaryFixedDim: #d8bde3;
$onTertiaryFixed: #261431;
$onTertiaryFixedVariant: #533f5e;
$darkmode: true;