@use "sass:color";
@use "../../colors";

@mixin hover($bg) {
    background-color: $bg;

    &:hover {
        @if colors.$darkmode == true {
            background-color: color.adjust($bg, $lightness: 5%);
        }
        @else {
            background-color: color.adjust($bg, $lightness: -5%);
        }
    }
}
