@define-color accent_color #8e4954;
@define-color accent_bg_color #8e4954;
@define-color accent_fg_color #fff8f7;
@define-color destructive_color #ffdad6;
@define-color destructive_bg_color #ffdad6;
@define-color destructive_fg_color #22191a;
@define-color success_color #916e45;
@define-color success_bg_color #916e45;
@define-color success_fg_color #22191a;
@define-color warning_color #76565a;
@define-color warning_bg_color #76565a;
@define-color warning_fg_color #22191a;
@define-color error_color #ffdad6;
@define-color error_bg_color #ffdad6;
@define-color error_fg_color #22191a;
@define-color window_bg_color #fff8f7;
@define-color window_fg_color #22191a;
@define-color view_bg_color #fff8f7;
@define-color view_fg_color #22191a;
@define-color headerbar_bg_color #fff8f7;
@define-color headerbar_fg_color #22191a;
@define-color headerbar_border_color #827072;
@define-color headerbar_backdrop_color #fff8f7;
@define-color headerbar_shade_color #827072;
@define-color sidebar_bg_color #fbeaeb;
@define-color sidebar_fg_color #22191a;
@define-color sidebar_backdrop_color #fbeaeb;
@define-color card_bg_color #fbeaeb;
@define-color card_fg_color #22191a;
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color thumbnail_bg_color #fff8f7;
@define-color thumbnail_fg_color #22191a;
@define-color dialog_bg_color #fff8f7;
@define-color dialog_fg_color #22191a;
@define-color popover_bg_color #fbeaeb;
@define-color popover_fg_color #22191a;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color #827072;

.navigation-sidebar {
    background-color: #fbeaeb;
}

switch:checked {
    background-color: #8e4954;
}

switch:checked slider {
    background-color: #ffffff;
}